@media screen and (min-width: 2000px) and (max-width: 2560px) {
  .dashboard-table {
    height: calc(100vh - 773px);
  }
}

@media screen and (min-width: 1441px) and (max-width: 1999px) {
  .dashboard-table {
    /* height: calc(100vh - 403px); */
    height: calc(100vh - 500px);
  }
}

@media screen and (max-width: 1440px) {
  .dashboard-table {
    /* height: calc(100vh - 403px); */
    height: calc(100vh - 158px);
  }
}
